@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --normal: "Funnel Sans", sans-serif;
  --mono: "Chivo Mono", monospace;
}
body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: var(--normal);
  user-select: none;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem 2rem;
  border: 1px solid #333;
  border-radius: 10px;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s linear, transform 0.4s ease;
  will-change: opacity, transform;
}
.item.show {
  transform: translateY(0);
}
.item label {
  font-family: var(--normal);
  padding: 0.3rem 0;
  user-select: none;
}
input {
  font-family: var(--mono);
  padding: 0.3rem 0.6rem;
  color: #fff;
  background: #222;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
button {
  position: relative;
  font-family: var(--normal);
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  user-select: none;
}
button span {
  position: relative;
  font-size: 1rem;
  z-index: 2;
}
button:hover {
  transform: scale(1.1);
}
button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.3s ease;
  z-index: 1;
}
button:hover::before {
  transform: translateX(0);
}

#addField {
  background: #005;
}
#updateApi {
  background: #050;
}
#cancelChanges,
#deleteItem {
  background: #500;
}

#addField::before {
  background: linear-gradient(135deg, #005 0%, #009 100%);
}
#updateApi::before {
  background: linear-gradient(135deg, #050 0%, #090 100%);
}
#cancelChanges::before,
#deleteItem::before {
  background: linear-gradient(135deg, #500 0%, #900 100%);
}

.delete {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  user-select: none;
  font-family: var(--normal);
}
.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.delete button {
  height: 100%;
}