@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --normal: "Funnel Sans", sans-serif;
  --mono: "Chivo Mono", monospace;
}
body {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-family: var(--normal);
}
button {
  all: unset;
  font-family: var(--normal);
  background: #222;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr 1fr;

  padding: 1rem 2rem;
  border: 1px solid #333;
  border-radius: 10px;
}
.item label {
  font-family: var(--normal);
  padding: 0.3rem 0;
}
.item input {
  font-family: var(--mono);
  padding: 0.3rem 0.6rem;
  color: #000;
  background: #fff;
  border: none;
  outline: none;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
button {
  padding: 1rem 2rem;
  cursor: pointer;
}
#addField {
  background: #005;
}
#updateApi {
  background: #050;
}
#cancelChanges {
  background: #500;
}
